webdriver-manager
Pillow==8.4.0
streamlit==1.29.0
#streamlit==1.28.0
streamlit_toggle==0.1.3
#PySimpleGUI~=4.53.0
dash~=2.3.1
pandas~=1.3.4
DateTime~=4.3
plotly~=5.3.1
statsmodels~=0.13.2
finsymbols~=1.3.0
colorlover~=0.3.0
numpy~=1.21.1
pydeck~=0.8.1b0
scipy~=1.7.1
Pillow~=8.4.0
emoji~=1.6.1
future~=0.18.2
windrose~=1.6.8
seaborn~=0.11.2
scikit-learn~=1.3.2
pyttsx3~=2.90
branca~=0.4.2
requests~=2.31.0
bs4~=0.0.1
beautifulsoup4~=4.10.0
ipdb~=0.13.9
viroconcom~=1.4.14
virocon~=2.1.0
bokeh~=2.4.3
image~=1.5.33
cdsapi~=0.5.1
panel~=0.12.6
hvplot~=0.8.2
selenium~=4.17.0
siphon~=0.9
pmdarima~=2.0.3
lxml~=4.6.3
webdriver-manager
pygithub




